GitHub Desktop/
Code - OSS/
go/
supertuxkart/

nvim/
antimicrox/
audacity/
BraveSoftware/
GIMP/
retroarch/
WebCord/
QTProject.conf
user-dirs.dirs
user-dirs.locale
mimeapps.list
pavucontrol.ini
nemo/
NuGet/
JetBrains/
wireshark/
xfce4/
menus/
yay/
HKModInstaller/
simple-update-notifier/
cef_user_data/
spotify/
systemd/
Thunar/
dconf/
citra-emu/
unity3d/
cemu/
htop/
gtk-4.0/
gtk-3.0/
gtk-2.0/
glib-2.0/
Electron/
flameshot/
cinnamon-session/
xdg-desktop-portal/
Olympus/
